<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" th:href="@{/css/error.css}"/>
</head>

<body>
<div class="head">
    <img src="https://mybristol.bris.ac.uk/portal/media/skins/universality/common/uob/images/logo-uob.svg" width="200";>
    LAB Booking System
</div>
<div class="container">
<h2> Lab Booking System agreements </h2>
    <hr>
    <p>
    <h3>Your booking was successful!</h3>
    <p>Please ensure you bring your UCARD with you on the day.
    Check your email for confirmation information.<br> Thank you. </p>
    <a th:href="@{/loggedinindex}" id = "return_to_home_test" Class="btnU btnU-large">Return to Home</a>
</div>
</body>
