<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" th:href="@{/css/error.css}"/>
</head>
<body>
<div class="head">
    <img src="https://mybristol.bris.ac.uk/portal/media/skins/universality/common/uob/images/logo-uob.svg" width="200";>
    LAB Booking System
</div>
<div class="container">
    <h2> Lab Booking System agreements </h2>
    <hr>
    <p>
    <h3>Your booking was failed</h3>
    <p>the booking you would like to submit is not available. It has been booked by someone else. Please try again. </p>
    <a th:href="@{/loggedinindex}" Class="btnU btnU-large">Return to Home</a>
</div>
</body>
</html>
