<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Equipment Sellect</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" th:href="@{/css/equipment.css}"/>
</head>
<body>
	<h1>Equipment List</h1>
  <table class="table1" >
  <tr>
    <th align="center" style="width:500px;">Equipment Name</th>
    <th align="center" style="width:100px;">Photo</th>
    <th align="center" style="width:100px;">Status</th>
    <th align="center" style="width:150px;">Equipment Sellect</th>
  </tr>
  <tr>
    <td align="center">Prototyping Board</td>
    <td><img src="../images/Prototyping Board.png" width="70" height="70"></td>
    <td>Available</td>
    <td align="center"><input type="checkbox" name="equi" value="EP1"></td>
  </tr>
  <tr>
    <td align="center">Solid Core Wire - 1/0.6mm</td>
    <td><img src="../images/Solid Core Wire - 1_0.6mm.png" width="70" height="70"></td>
    <td>Available</td>
    <td align="center"><input type="checkbox" name="equi" value="EP2"></td>
  </tr>
  <tr>
    <td align="center">Wire Strippers/Cutters</td>
    <td><img src="../images/Wire Strippers Cutters.png" width="70" height="70"></td>
    <td>Available</td>
    <td align="center"><input type="checkbox" name="equi" value="EP3"></td>
  </tr>
  <tr>
    <td align="center">Resistors</td>
    <td><img src="../images/Resistors.png" width="70" height="70"></td>
    <td>Available</td>
    <td align="center"><input type="checkbox" name="equi" value="EP4"></td>
  </tr>
  <tr>
    <td align="center">Capacitors</td>
    <td><img src="../images/Capacitors.png" width="70" height="70"></td>
    <td>Available</td>
    <td align="center"><input type="checkbox" name="equi" value="EP5"></td>
  </tr>
  <tr>
    <td align="center">TTi LCR400 Bridge</td>
    <td><img src="../images/TTi LCR400 Bridge.png" width="70" height="70"></td>
    <td>Available</td>
    <td align="center"><input type="checkbox" name="equi" value="EP6"></td>
  </tr>
  <tr>
    <td align="center">BNC "T" Piece</td>
    <td><img src="../images/BNC T Piece.png" width="70" height="70"></td>
    <td>Available</td>
    <td align="center"><input type="checkbox" name="equi" value="EP5"></td>
  </tr>
  </table><br>
  <button type="submit" >Confirm</button> <br>
</body>
