<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" th:href="@{/css/error.css}"/>
</head>
<body>
<div class="error">
  <h1 class="error"> Error : 404  </h1>
  <hr>
  <p> This error suggests the page does not exist or/and cannot be accessed at the moment </p> 

  <p> Please click this button to return Home Page </p>
    <a th:href="@{/loggedinindex}" id = "return_to_home_test" Class="btnU btnU-large">Return to Home</a>
</div>
</body>
</html>
