<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" th:href="@{/css/forgot_password.css}"/>
</head>
<body>
    <p><img src="https://mybristol.bris.ac.uk/portal/media/skins/universality/common/uob/images/logo-uob.svg" /></p><br>
    <h1> Faculty of Engineering </h1>
    <h2> Forgot your password? <h2>
      <P>
      Username:<br><br>
      <input type="text" placeholder="Username" th:field="*{userid}" /></p><br>
      <button type="submit" >Submit</button> <br>
</body>
