<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>University of Bristol</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/index.css}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
.university-logo {
    text-align: center;
}
h1{
    font-family: "Times New Roman", Times, serif;
}
p{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-large w3-light-grey">
    <div class="w3-col s3">
      <a th:href="@{/edituser}" class="w3-button w3-block">Edit User</a>
    </div>
    <div class="w3-col s3">
      <a th:href="@{/bookings/book}" class="w3-button w3-block">Seat Booking</a>
    </div>
    <div class="w3-col s3">
      <a th:href="@{/bookings/userallbooking}" class="w3-button w3-block">My Booking</a>
    </div>
    <div class="w3-col s3">
      <a th:href="@{/bookings/attendance}" class="w3-button w3-block">Attendance</a>
    </div>
    <div class="w3-col s3">
      <a th:href="@{/logout}" class="w3-button w3-block">Logout</a>
    </div>

  </div>
</div>
<br>
<br>

<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  <div class="w3-panel">
    <div class="university-logo">
      <img src="https://mybristol.bris.ac.uk/portal/media/skins/universality/common/uob/images/logo-uob.svg" class="center"/>
    </div>
    <br>
    <h1 align="center"> Electrical and Electronics Engineering Lab Booking System</h1>
    <p align="center" >University of Bristol : Faculty of Engineering</p>
  </div>

  <!--Slideshow-->
  <!--<div class="w3-container">-->
  <!--<div class="w3-display-container mySlides">-->
  <!--<img th:src="@{../images/ee7.png}" style="width:100%">-->
  <!--</div>-->
  <!--<div class="w3-display-container mySlides">-->
  <!--<img th:src="@{../images/ee5.jpg}" style="width:100%">-->
  <!--</div>-->
  <!--<div class="w3-display-container mySlides">-->
  <!--<img th:src="@{../images/ee9.jpeg}" style="width:100%">-->
  <!--</div>-->

  <!--&lt;!&ndash; Slideshow next/previous buttons &ndash;&gt;-->
  <!--<div class="w3-container w3-dark-grey w3-padding w3-xlarge">-->
  <!--<div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>-->
  <!--<div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>-->

  <!--<div class="w3-center">-->
  <!--<span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>-->
  <!--<span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>-->
  <!--<span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--
  Grid -->
  <div class="w3-row w3-container">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What can you do</span>
    </div>
    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
      <h3>Register</h3>
      <p>Scan your UCARD, register with your email and student id on LAB booking system.</p>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
      <h3><a th:href="@{/bookings/book}" style="text-decoration:none;">Booking a slot</a></h3>
      <p>Each student is allowed a maximum of 3 hours slot booking each time.</p>
    </div>

    <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
      <h3>Selecting equipment</h3>
      <p>Students can select each equipment they need in each session.</p>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
      <h3>Agreements</h3>
      <p>Ensure that you read each requirement and agreement carefully before booking.</p>
    </div>
  </div>


<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demodots");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>
