<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" th:href="@{/css/register.css}"/>
</head>

<body>
<p><img src="https://mybristol.bris.ac.uk/portal/media/skins/universality/common/uob/images/logo-uob.svg" /></p><br>
<h1> Faculty of Engineering </h1>
<h2> Registration Success </h2>
    <p>
    <p class="agreement_head">  Your registration was successfull! 
Check your email for confirmation inforamtion. Thank you. </p>
<a th:href="@{/loggedinindex}" Class="btnU btnU-large">Return to Home</a>
</body>
